@model IEnumerable<Hotels.Core.Domain.Hotel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceMin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThumbnailPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThumbnailPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.AddressId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HotelId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HotelId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HotelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
